*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Brush Script MT', cursive;
}

a{
    text-decoration: none;
}

.hero{
    width: 100%;
    height: 100vh;
    background-size: cover;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.03px 100px;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    z-index: 9999;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a{
    font-size: 20px;
    color: #ffffff;
    position: relative;
    padding: 5px 0;
}

.content{
    position: absolute;
    top: 35%;
    left: 8%;
}

.content h1{
    color: #1f1f25;
    font-size: 75px;
    font-weight: 900;
    line-height: 90px;
    width: 70%;
}

.content h1 span{
    color: #d20f30;
}

.content p{
    width: 55%;
    color: #757575;
    margin-top: 25px;
    margin-bottom: 30px;
}

.about-section {
    height: 100vh;
    padding: 50px;
    text-align: center;
    font-size:larger;
    background-color: #757575;
    color: white;
}

.about-section h1{
    color: #000000;
    font-size: 40px;
}

.about-section u{
    color: #000000;
    font-size: 30px;
}

.contact {
    height: 100vh;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;    
}

.contact h1{
    font-size: 40px;
    position:relative ;
    top:40px

}

.column {
    float: left;
    width: 50%;
    margin-top: 6px;
    padding: 20px;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}
  
input[type=submit] {
    background-color: #000000;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}

img{
    height: 35%;
    width: 35%;
    position: relative;
    left: 80px;
    top: 50px;
}
  
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(0, 0, 0);
    color: white;
    text-align: center;
}